{% extends 'AppBundle:Common:layout.html.twig' %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
<link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock stylesheet %}


{% block head_scripts %}
{{ parent() }}
<script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>
<script type="text/javascript" src="/tarteaucitron/tarteaucitron.services.piwik.js"></script>
<script type="text/javascript">
tarteaucitron.init({
  "hashtag": "#tarteaucitron", /* Ouverture automatique du panel avec le hashtag */
  "highPrivacy": false, /* désactiver le consentement implicite (en naviguant) ? */
  "orientation": "bottom", /* le bandeau doit être en haut (top) ou en bas (bottom) ? */
  "adblocker": false, /* Afficher un message si un adblocker est détecté */
  "showAlertSmall": true, /* afficher le petit bandeau en bas à droite ? */
  "cookieslist": true, /* Afficher la liste des cookies installés ? */
  "removeCredit": false /* supprimer le lien vers la source ? */
});
</script>
{% endblock head_scripts %}

{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/index.js') }}"></script>
{% include 'AppBundle:Common:tracking.html.twig' %}    
{% endblock scripts %}

{% block content %}

<header class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a href="{{ path('app_index_index') }}">FunkPop</a>
      </li>

      <li>
        <a href="{{ path('app_index_index_style', {style: style, search: 'star wars'}) }}">
          <i class="fi-star"></i>Star Wars
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: style, search: 'dragon ball z'}) }}">
          <i class="fi-star"></i>Dragon Ball Z
        </a>
      </li>

    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="{{ path('app_index_index_style', {style: 'carousel', search: search}) }}">
          <i class="fi-layout"></i>Carousel
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'grille', search: search}) }}">
          <i class="fi-layout"></i>Grille
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'simple', search: search}) }}">
          <i class="fi-layout"></i>Simple
        </a>
      </li>

    </ul>
  </div>
</header>

<div class="tpl-{{ style }}">
{{ block('index_content') }}
</div>

<footer>
  <div class="row">
    <div class="">
        <div class="medium-3 columns">

          <ul class="menu vertical">
            <li class="menu-text">Mes FunkoPop</li>
            <li>
              <a href="{{ path('app_index_index') }}">
                Accueil
              </a>
            </li>
            <li>
              <a href="mailto:contact@renauddouze.fr">
                Contact
              </a>
            </li>
            <li>
              <a href="http://funko.com/collections/pop">
                Pop! | Funko (Site officiel)
              </a>
            </li>
            <li class="menu-text">
              <img class="thumbnail" src="/img/logo.png" alt="">
            </li>
          </ul>

        </div>
        <div class="medium-3 columns">

          <ul class="menu vertical">
            <li class="menu-text">Types d'affichages</li>
            <li>
              <a href="{{ path('app_index_index_style', {style: 'carousel', search: search}) }}">
                Carousel
              </a>
            </li>
            <li>
              <a href="{{ path('app_index_index_style', {style: 'grille', search: search}) }}">
                Grille
              </a>
            </li>
            <li>
              <a href="{{ path('app_index_index_style', {style: 'simple', search: search}) }}">
                Simple</a>
              </li>
          </ul>

          <ul class="menu vertical">
            <li class="menu-text">Principales catégories</li>
            <li>
              <a href="{{ path('app_index_index_style', {style: style, search: 'star wars'}) }}">
                Star Wars
              </a>
            </li>
            <li>
              <a href="{{ path('app_index_index_style', {style: style, search: 'dragon ball z'}) }}">
                Dragon Ball Z
              </a>
            </li>
          </ul>

        </div>
        <div class="medium-3 columns">

        </div>
        <div class="medium-3 columns">

          <ol class="menu vertical">
            <li class="menu-text">Top 10 tags</li>
            {% for tag, nb in topTags  %}
            <li>
              <a href="{{ path('app_index_index_style', {style: style, search: tag }) }}">
                {{ tag }}
              </a>
            </li>
            {% endfor %}
          </ol>

        </div>
    </div>
  </div>
</footer>

{% endblock content %}