{% extends 'AppBundle:Common:layout.html.twig' %}

{% block content %}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a href="{{ path('app_index_index') }}">FunkPop</a>
      </li>

      <li>
        <a href="{{ path('app_index_index_style', {style: style, search: 'star wars'}) }}">
          <i class="fi-star"></i>Star Wars
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: style, search: 'dragon ball z'}) }}">
          <i class="fi-star"></i>Dragon Ball Z
        </a>
      </li>

    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="{{ path('app_index_index_style', {style: 'carousel', search: search}) }}">
          <i class="fi-layout"></i>Carousel
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'grille', search: search}) }}">
          <i class="fi-layout"></i>Grille
        </a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'simple', search: search}) }}">
          <i class="fi-layout"></i>Simple
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="tpl-{{ style }}">
{{ block('index_content') }}
</div>

{% endblock content %}