{% extends 'AppBundle:Index:base.html.twig' %}

{% block index_content %}
{% if list|length %}
<div class="row expanded" id="carousel">
    <div class="columns small-12 medium-12 large-6 large-offset-3">
        <div class="owl-carousel owl-theme">
            {% for image in list %}
            <div class="item">
                
                <h4>
                    {{ image.title }}
                </h4>
                <p>
                    {% for tag in image.tags|split(';') %}
                    <a href="{{ path('app_index_index_style', {style: style, search: tag}) }}" class="secondary label">
                        {{ tag }}
                    </a>
                    {% endfor %}
                </p> 

                {#}
                <img class="" src="{{ web_image(image.path).cropResize(922, 620).jpeg() }}" alt="{{ image.name }}" />
                {#}
                <img class="" src="{{ image.path|imagine_filter('carousel') }}" alt="{{ image.name }}" />

                <p>
                    <small>{{ image.description }}</small>
                </p> 
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
{% include 'AppBundle:Index:no_image.html.twig' %}
{% endif %}

{% endblock index_content %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    {% if 1 < list|length %}
    /*
    var owl = $(".owl-carousel").owlCarousel({
        loop: true,
        nav: true,
        items: 1,
        navText : ["Précédent","Suivant"],
        dotsEach: 1,
        dots: true,
        autoHeight: true,
    });
    */
    var owl = $(".owl-carousel").owlCarousel({
        singleItem: true,
        navigation : true, 
        navigationText : ["Précédent","Suivant"],
        autoHeight: true,
        paginationNumbers: true,
    });
    {% else %}
    $('.owl-carousel').show();
    {% endif %}
});
</script>
{% endblock scripts %}

