{% extends 'AppBundle:Index:base.html.twig' %}

{% block index_content %}

{% if list|length %}
<div class="row small-up-2 medium-up-3 large-up-4">
    {% for image in list %}
    <div class="columns">
        <h4>
            {{ image.title }}
        </h4>
        <p>
            {% for tag in image.tags|split(';') %}
            <a href="{{ path('app_index_index_style', {style: style, search: tag}) }}" class="secondary label">
                {{ tag }}
            </a>
            {% endfor %}
        </p> 
        <p>
            <small>{{ image.description }}</small>
        </p> 

        <img src="/{{ image.path }}" alt="{{ image.name }}" class="thumbnail" />
    </div>
    {% endfor %}
</div>
{% else %}
{% include 'AppBundle:Index:no_image.html.twig' %}
{% endif %}

{% endblock index_content %}
