{% extends 'AppBundle:Index:base.html.twig' %}

{% block index_content %}
{% if list|length %}
<div class="row">
{% for image in list %}
{% if loop.index0 %}
<hr />
{% endif %}

<h4>
    {{ image.title }}
</h4>
<p>
    {% for tag in image.tags|split(';') %}
    <a href="{{ path('app_index_index_style', {style: style, search: tag}) }}">
        #{{ tag }}
    </a>
    {% endfor %}
</p> 
<img src="{{ web_image(image.path).cropResize(1024, 730).jpeg() }}" alt="{{ image.name }}" />
<p>
    <small>{{ image.description }}</small>
</p>

{% endfor %}
</div>
{% else %}
{% include 'AppBundle:Index:no_image.html.twig' %}
{% endif %}
{% endblock index_content %}
