{% extends 'AppBundle:Common:layout.html.twig' %}

{% block content %}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Funko Pop - Admin</li>
      <li>
        <a href="{{ path('app_admin_index') }}">Liste</a>
      </li>
      <li>
          <a href="{{ path('app_admin_add') }}">Ajouter</a>
      </li>
    </ul>
  </div>
</div>

{{ block('admin_content') }}

{% endblock content %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock stylesheet %}

{% block head_scripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript" src="{{ asset('js/vendor/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
{% endblock head_scripts %}

{% block scripts %}
<script src="{{ asset('js/vendor/what-input.min.js') }}"></script>
<script src="{{ asset('js/foundation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/underscore-min.js') }}"></script>  
<script type="text/javascript" src="{{ asset('js/taggle-custom.js') }}"></script>  

<script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>  
{% endblock scripts %}
