{% extends 'AppBundle:Admin:base.html.twig' %}

{% block admin_content %}

<div class="column row">
  {% include 'AppBundle:Tool:flash_messages.html.twig' %}
  {{ form(form) }}
</div>

{% endblock admin_content %}

{% form_theme form 'AppBundle:Admin:forms.html.twig' %}

{% block scripts %}
{{ parent() }}

<script type="text/javascript">
    var autocompleteSource = ['{{ tags|join("', '")|raw }}'];

    /**
     * Initialise le bloc de status de l'upload
     */
    function uploadStatusInit()
    {
        $('.upload-status-container').removeClass('warning').removeClass('success').removeClass('secondary').hide();

        $('.upload-status-content').html('');
    }

    $(function () {
        {% set uploadRouteParam = ((image is defined) ? '{id: '~image.id~'}' : '{}') %}
        $('#image_form_path').fileupload({
            url: Routing.generate('app_admin_upload', {{ uploadRouteParam }}),
            dataType: 'json',
        }).on('fileuploadadd', function (e, data) {
            uploadStatusInit();

            $('.upload-status-content').html('Upload en cours');
            $('.upload-status-container').addClass('secondary').show();
        }).on('fileuploaddone', function (e, data) {
            var result = data.result;

            uploadStatusInit();

            if (undefined === result.error) {
                $('img.thumbnail').attr('src', '/'+result.path);

                $('.upload-status-content').html("L'upload a marché")
                $('.upload-status-container').addClass('success').show();
            } else {
                $('.upload-status-content').html(result.error);
                $('.upload-status-container').addClass('warning').show();
            }
        }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="{{ asset('js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="{{ asset('js/jquery.fileupload.js') }}"></script>

{% endblock scripts %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/jquery.fileupload.css') }}">
{% endblock stylesheet %}
