{% block file_row -%}
<div class="row">
    <div class="small-6 medium-4 large-2 columns">
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' show-for-sr')|trim}) -%}
        {{- block('form_row') -}}
    </div>
    
    <div class="small-6 medium-8 large-10 columns">
        <div class="callout upload-status-container" style="display: none;" data-closable>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="upload-status-content"></p>
        </div>
        {% if form.parent.vars.value.path is defined %}
        <img src="/{{ form.parent.vars.value.path }}" alt="{{ form.parent.vars.value.name }}" class="thumbnail" />
        {% else %}
        <img src="#" alt="Pas d'image encore" class="thumbnail" />
        {% endif %}
    </div>
</div>
{%- endblock file_row %}


{%- block _image_form_tags_widget %}
<div id="tags-container-{{ id }}"></div>
{{ form_widget(form) }}
<script type="text/javascript">
$(document).ready(function() {
    createTagsInput(
        'tags-container-{{ id }}', 
        {
            {% if form.vars.value is not empty %}
            tags: ['{{ form.vars.value|split(";")|join("', '")|raw }}'],
            {% endif %}
        },
        autocompleteSource
    );
});
</script>
{%- endblock _image_form_tags_widget %}

